<m-container>
    <br><br>
      <form class="pure-form pure-form-stacked">
          <label for="input1">Value 1: </label>
          <input placeholder="" [(ngModel)]="anItem.val1" type="number" [ngModelOptions]="{standalone: true}"/>
          <label for="input2">Value 2: </label>
          <input placeholder="" [(ngModel)]="anItem.val2" type="number" [ngModelOptions]="{standalone: true}"/>
      </form>
      <button class="pure-button" (click)="getItemWithKey('myKey')">Get Item with Key</button>
      <button class="pure-button" (click)="getListWithKey('items')">Get List with Key</button>
      <button class="pure-button" (click)="storeItemWithKey('myKey')">Store Item with Key</button>
      <button class="pure-button" (click)="addItemToList()">Add Item to List</button>
      <button class="pure-button" (click)="clearAllItems()">Clear All</button>
      <m-table
      [data]="items"
      [tableHeaders]="['Key','Value 1', 'Value 2']"
      [showDeleteButton]="true"
      [showMoreDetails]="false"
      [showCaption]="true"
      caption="Items List"
      (remove)="removeItemFromList($event)">
    </m-table>
  </m-container>>